@charset "UTF-8";
/* Add your custom CSS declarations below  */

body {
  background-color: #F0E1E1;
  overflow-x: hidden;
}

.site-wrapper {
	position: relative;
	overflow-x: hidden;
}

p, div.card-body {
	font-family: 'Gaegu', cursive;
	font-weight: 400;
	font-size: 17px;
	color: #262626;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 1rem;
	margin-top: 4rem;
	color: #262626;
}

h2 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 18px;
	color: #262626;
}

h3 {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-size: 28px;
	color: #262626;
}

h4 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 17px;
	color: #262626;
	margin-bottom: 1rem;
}

h5 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 20px;
	color: #262626;
	margin-bottom: .5rem;
}

h6 {
	font-family: 'Gaegu', cursive;
	font-weight: 700;
	font-size: 18px;
	color: #262626;
}

a#faq-link1, a#faq-link2 {
	font-family: 'Gaegu', cursive;
	font-weight: 400;
	font-size: 17px;
	color: #262626;
	text-decoration: underline;
	text-decoration-color: #E0C1C1;
}

a#faq-link1:hover, a#faq-link2:hover {
	color: #262626;
	text-decoration: underline;
	text-decoration-color: #808080;
}

.bg-light {
    background-color: transparent!important;
}

a.nav-link {
	color: #262626!important;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 20px;
	margin: 5px!important;
}

a.nav-link:hover {
	color: #262626!important;
	text-decoration: underline!important;
	text-decoration-color: #fff!important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #F0E1E1;
}

.dropdown-item.active, .dropdown-item:active {
	color: #16181b;
    text-decoration: none;
    background-color: #F0E1E1;
}

a.dropdown-item {
	font-family: 'Gaegu', cursive;
	font-weight: 700;
	font-size: 18px;
	color: #262626;
}

#tea-background {
	opacity: .7;
}

.carousel-caption.d-none.d-md-block {
	text-align: left!important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20%!important;
    /*bottom: 35%!important;*/
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #262626!important;
}

@media only screen and (max-width: 1023px) {
    .carousel-caption.d-none.d-md-block.ml-auto.mr-auto, #nav-logo {
        display: none!important;
    }
}

@media only screen and (min-width: 1024px) {
    #nav-logo-mobile {
        display: none!important;
    }
}

#nav-logo:hover {
	opacity: .8;
}

.center {
	text-align: center;
}


#homepage-card-1, #homepage-card-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#about, #faq-accordian {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

a.btn.btn-primary.btn-lg.active, a.btn.btn-primary.btn-lg.active:visited {
	background: #E0C1C1;
	border-color: #E0C1C1;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

a.btn.btn-primary.btn-lg.active:hover, a.btn.btn-primary.btn-lg.active:active, a.btn.btn-primary.btn-lg.active:focus {
	background: #E5CDCD;
	border-color: #E5CDCD;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

button#button-addon3, button#button-addon3:visited {
	background: #E0C1C1;
	border-color: #E0C1C1;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

button#button-addon3:hover, button#button-addon3:active, button#button-addon3:focus {
	background: #E5CDCD;
	border-color: #E5CDCD;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

a.btn.btn-dark.rounded-pill.py-2.btn-block, a.btn.btn-dark.rounded-pill.py-2.btn-block:visited {
	background: #E0C1C1;
	border-color: #E0C1C1;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

a.btn.btn-dark.rounded-pill.py-2.btn-block:hover, a.btn.btn-dark.rounded-pill.py-2.btn-block:active, a.btn.btn-dark.rounded-pill.py-2.btn-block:focus {
	background: #E5CDCD;
	border-color: #E5CDCD;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 18px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background: #E5CDCD;
	border-color: #E5CDCD;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 19px;
}

.btn-primary, .btn-primary:visited {
	background: #E0C1C1;
	border-color: #E0C1C1;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 19px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #E5CDCD;
	border-color: #E5CDCD;
	color: #262626;
	border-radius: 35px;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 19px;
}

a.btn.btn-link, a.btn.btn-link:visited {
	color: #262626;
	text-decoration: underline;
	text-decoration-color: #262626;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 17px;
}

a.btn.btn-link:hover, a.btn.btn-link:active, a.btn.btn-link:focus {
	color: #4d4d4d;
	text-decoration: underline;
	text-decoration-color: #fff;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 17px;
}

button.btn.btn-link.collapsed, button.btn.btn-link {
	color: #262626;
	font-family: 'Gaegu', monospace;
	font-weight: 700;
	font-size: 17px;
}

i.fa.fa-facebook-official, i.fa.fa-instagram, i.fa.fa-twitter-square, i.fa.fa-youtube-play {
	color: #262626;
}

div#headingOne.card-header, div#headingTwo.card-header, div#headingThree.card-header {
	background-color: #E0C1C1;
}

#faq-card-1, #faq-card-2, #faq-card-3 {
	border: 0px;
}
